
@{
    ViewBag.Title = "Confirm";
    Layout = null;
}

<h2>THÔNG TIN THÀNH VIÊN ĐÃ ĐĂNG KÝ</h2>
<img src="@ViewBag.Avatar" />
<br />
Mã nhân viên: @ViewBag.EmpID
<br />
Họ tên: @ViewBag.Name
<br />
Ngày sinh: @ViewBag.BirthofDate
<br />
Email: @ViewBag.Email
<br />
Password: @ViewBag.Password
<br />
Department: @ViewBag.Department
<br />