@model BaiTap5_64130758.Models.MailInfo

@{
    ViewBag.Title = "SendEmail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <style>
        .headertext {
            font-size: 24px;
            font-weight: bold;
            padding: 10px 0px;
        }

        .form-group {
            margin-bottom: 10px !important;
        }

            .form-group label {
                margin-bottom: 10px !important;
            }

        .form-control {
            margin-top: 10px !important;
            padding: 5px !important;
            box-sizing: border-box !important;
            width: 100%;
        }

        .form-control-1 {
            margin-top: 10px;
            padding: 5px;
            padding-top: 10px; /* Thêm khoảng cách phía trên */
            height: 150px; /* Chiều cao của textarea */
            width: 100%; /* Độ rộng 100% */
            overflow-y: auto; /* Hiển thị thanh cuộn nếu nội dung quá dài */
            text-align: left; /* Căn văn bản sang trái */
            vertical-align: top; /* Đảm bảo text căn từ trên cùng */
        }

        .form-horizontal {
            border: 2px solid #808080;
            padding: 20px;
            display: inline-block;
        }

        .btn-default {
            padding: 5px 10px;
        }
    </style>
    <div class="form-horizontal">
        <div class="headertext">
            CHỨC NĂNG GỬI EMAIL
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.From, "Gửi từ: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Mật khẩu: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.To, "Đến: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, "Tiêu đề: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, "Nội dung:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control-1" } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}
