@{
    var path = Server.MapPath("/banner.txt");
    var fileImage = System.IO.File.ReadAllText(path);
    ViewBag.image = "/Image/" + fileImage;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/styleAdmin.css" rel="stylesheet" />
</head>
<style>
    .banner img{
        width: 100px;
        margin: 5px;
        height: 100px;
    }
    .banner{
        display:flex;
        align-items: center;
        gap: 20px;
        background: #00ffff;
    }
    .textntu{
        font-size: 48px;
        font-weight: bold;
    }

</style>
<body style="margin-top:0px;">
    <div class="banner">
        <div><img src=@ViewBag.image /></div>
        <div class="textntu"> TRƯỜNG ĐẠI HỌC NHA TRANG </div>
    </div>
    <div id="menu">
        <div>
            @Html.ActionLink("TRANG CHỦ", "HomePage", "BaiTap5_64130758/HomePage", htmlAttributes: new { @class = "a" }) &nbsp;|&nbsp;
            @Html.ActionLink("ĐĂNG KÝ", "Register", "BaiTap5_64130758/Register", new { @class = "a" })&nbsp;|&nbsp;
            @Html.ActionLink("GỬI EMAIL", "SendEMail", "BaiTap5_64130758/SendEmail", new { @class = "a" }) &nbsp;|&nbsp;
            @Html.ActionLink("THAY ĐỔI BANNER", "ChangeBanner", "BaiTap5_64130758/ChangeBanner", new { @class = "a" })
            <hr style="margin-top:0px;" />
        </div>
    </div>

    <div id="content">
        @RenderBody()
    </div>
    <div id="footer" style="ffcc66">
    </div>
</body>
</html>